<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Shop Homepage - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/shop-homepage.css" rel="stylesheet">
  <link href="/css/product-info.css" rel="stylesheet">
  <script  src="/js/productInfo.js"> </script>
  
  </head>
  <body>
  
  <!-- Navigation -->
  <nav th:replace="fragments/fragment :: navigation('products')" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  </nav>
  
  
  <!--Section: Block Content-->
<div class="container bootdey">
<div class="col-md-12">
<section class="panel">
      <div	th:object=${product} class="panel-body">
          <div class="col-md-6">
              <div class="pro-img-details">
                  <img th:src="@{*{imageUrl}}" alt="">
              </div>
        <!--     <div class="pro-img-list">
                  <a href="#">
                      <img src="https://via.placeholder.com/115x100/87CEFA/000000" alt="">
                  </a>
                  <a href="#">
                      <img src="https://via.placeholder.com/115x100/FF7F50/000000" alt="">
                  </a>
                  <a href="#">
                      <img src="https://via.placeholder.com/115x100/20B2AA/000000" alt="">
                  </a>
                  <a href="#">
                      <img src="https://via.placeholder.com/120x100/20B2AA/000000" alt="">
                  </a>
              </div> --> 
          </div>
          <div  class="col-md-6">
              <h4 class="pro-d-title">
                  <a th:text="*{name}" href="#" class="">
                      Leopard Shirt Dress
                  </a>
              </h4>
             <div>
              <div> </div>
            <div id="extra" style="display: none;">
              <p >
                  Praesent ac condimentum felis. Nulla at nisl orci, at dignissim dolor, The best product descriptions address your ideal buyer directly and personally. The best product descriptions address your ideal buyer directly and personally.
              </p>
              </div>
              <div class="product_meta">
                  <span class="posted_in"> <strong>Categories:</strong> <a rel="tag" href="/products/tea" th:text="*{category.name}">Jackets</a><!-- , <a rel="tag" href="#">Men</a>, <a rel="tag" href="#">Shirts</a>, <a rel="tag" href="#">T-shirt</a>. --></span>
              	  <span class="button" onclick="toggle()">More details</span>
                  <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">mens</a>, <a rel="tag" href="#">womens</a>.</span>
              </div>
              <div class="m-bot15"> <strong>Price : </strong> <!--   <span class="amount-old">$544</span> --> <span class="pro-price" th:text="|$ *{price}|"> $300.00</span></div>
           <!--    <div class="form-group">
                  <label>Quantity</label>
                   <input  type="number" step="0.1" class="form-control" id="price" name="price" placeholder="Select quantity:" style="width:150px;height:30px;border:1px solid #000;"/>
              </div> -->
              <p>
            
                  <a sec:authorize="isAuthenticated()" class="btn" th:href="@{/products/buy/{id}(id = *{id})}">
                  <button class="btn btn-round btn-danger" type="submit" data-toggle="tooltip" data-placement="top" title="Add element to shopping cart"><i class="fa fa-shopping-cart" ></i> Add to Cart</button>
             </a>		
              </p>
              <script src="accordion.js"></script>
          </div>
      </div>
      </div>
     
      
      
  </section>
  </div>
  </div>
  </body>
  <footer th:replace="fragments/fragment :: footer" class="py-5 bg-dark">
  </footer>
  
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  
  </html>